{% extends 'base.html' %}
{% block left_content %}
    <h2>Inscrivez-vous maintenant</h2>
    <form action="{% url 'signup' %}">
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
{% endblock left_content %}

{% block right_content %}
    <h2>Connectez-vous</h2>
    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="mb-3">
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
{% endblock right_content %}