<div class="d-flex justify-content-end mt-3 gap-2">
{% if not read_only %}
    <a href="{% url 'view_review' review.id %}" 
        class="btn btn-outline-primary btn-sm"
        aria-label="Voir la critique {{ review.title }}">
        <i class="bi bi-eye" aria-hidden="true"></i> Voir la critique
    </a>
    {% if review.user == request.user %}
            <a href="{% url 'update_review' review.id %}" 
            class="btn btn-outline-warning btn-sm"
            aria-label="Modifier la critique {{ review.headline }}">
            <i class="bi bi-pencil-square" aria-hidden="true"></i> Modifier
            </a>
            <a href="{% url 'delete_review' review.id %}" 
            class="btn btn-outline-danger btn-sm"
            aria-label="Supprimer la critique {{ review.headline }}">
            <i class="bi bi-trash" aria-hidden="true"></i> Supprimer
            </a>
    {% endif %}
{% endif %}
</div>
