{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Créer une critique</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ticket_form.non_field_errors }}
        {{ review_form.non_field_errors }}

        <!-- Champ caché pour conserver la page précédente -->
        <input type="hidden" name="next" value="{{ next }}">

        <!-- Formulaire du ticket -->
        <h3>Livre/Article</h3>
        {% include "tickets/partials/_ticket_form.html" with form=ticket_form image_form=image_form %}

        <hr>

        <!-- Formulaire de la review -->
        <h3>Critique</h3>
        {% include "reviews/partials/_review_form.html" with form=review_form %}

        <div class="d-flex justify-content-end gap-2 mt-3">
            <!-- Bouton Envoyer -->
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <!-- Bouton Annuler -->
            <a href="{{ next|default:'/' }}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock content %}
