{% extends 'base.html' %}
{% block content %}
    <h2>Titre : {{ review.headline }}</h2>
    <p>Note : {{ review.rating }}</p>
    <p>Commentaire : {{ review.body }}</p>

    <!-- Boutons -->
    <br>
    {% if request.user == review.user %}
        <!-- Bouton Modifier -->
        <a href="{% url 'update_review' review.id %}?next={{ request.path }}" 
           class="btn btn-warning" style="margin-top: 20px;">
            Modifier la critique
        </a>

        <!-- Bouton Supprimer -->
        <a href="{% url 'delete_review' review.id %}?next={{ request.path }}" 
           class="btn btn-danger" style="margin-top: 20px;">
            Supprimer la critique
        </a>
    {% endif %}

    <!-- Bouton Retour -->
    <a href="{{ request.GET.next|default:'/' }}" class="btn btn-primary" style="margin-top: 20px;">
        Retour
    </a>
{% endblock content %}
