{% load static %}

<div class="mb-3">
    {{ ticket_form.title.label_tag }}
    {{ ticket_form.title }}
</div>

<div class="mb-3">
    {{ ticket_form.description.label_tag }}
    {{ ticket_form.description }}
</div>

<div class="mb-3 col-3">
    {{ ticket_form.type.label_tag }}
    {{ ticket_form.type }}
</div>

<div class="mb-3">
    <label>Image actuelle :</label><br>
    <img id="preview" 
         src="{% if ticket.image %}{{ ticket.image.image.url }}{% endif %}" 
         alt="aperçu image" 
         class="img-thumbnail"
         {% if ticket.image %}
             style="max-width: 200px; height: auto;"
         {% else %}
             style="display:none; max-width: 200px; height: auto;"
         {% endif %}>
    {% if not ticket.image %}
        <p id="no-image">Aucune image</p>
    {% endif %}
</div>

<div class="mb-3 col-3">
    {{ image_form.image.label_tag }}
    {{ image_form.image }}
</div>
