{% load custom_filters %}

<div class="card p-4 shadow-sm border-0 mb-4">
    <!-- Header -->
    <div class="d-flex justify-content-between mb-3">
        <p class="mb-0 text-muted fst-italic">
            {% if ticket.user == request.user %}
                Vous avez demandé une critique
            {% else %}
                {{ ticket.user.username }} a demandé une critique
            {% endif %}
        </p>
        <small class="text-muted">
            <i class="bi bi-clock"></i> {{ ticket.time_created|format_date }}
        </small>
    </div>

    <!-- Contenu -->
    <div class="text-center mb-3">
        <h4 class="fw-bold">{{ ticket.title }}</h4>
        <p class="text-muted">{{ ticket.description|linebreaksbr }}</p>

        <!-- Image -->
        {% if ticket.image %}
            
                <img src="{{ ticket.image.image.url }}" 
                    class="img-fluid rounded shadow-sm"
                    style="max-height: 250px; object-fit: contain;">
        {% endif %}
    </div>

    <!-- Actions -->
    <div class="d-flex justify-content-end mt-3 gap-2">
        <!-- Bouton Voir -->
        <a href="{% url 'view_ticket' ticket.id %}" 
           class="btn btn-outline-primary btn-sm">
           <i class="bi bi-eye"></i> Voir le ticket
        </a>

        {% if ticket.user == request.user and not review and not read_only %}
            <a href="{% url 'update_ticket' ticket.id %}?next={{ request.path }}" 
               class="btn btn-outline-warning btn-sm">
               <i class="bi bi-pencil-square"></i> Modifier
            </a>
            <a href="{% url 'delete_ticket' ticket.id %}?next={{ request.path }}" 
               class="btn btn-outline-danger btn-sm">
               <i class="bi bi-trash"></i> Supprimer
            </a>
        {% endif %}
    </div>
</div>
