{% load custom_filters %}

<div class="card p-3">
    <div class="d-flex justify-content-between">
        <p>
            {% if ticket.user == request.user %}
                <em>Vous avez demandé une critique</em>
            {% else %}
                <strong>{{ ticket.user.username }}</strong> a demandé une critique
            {% endif %}
        </p>
        <small class="text-muted">{{ ticket.time_created|format_date }}</small>
    </div>

    <h4>{{ ticket.title }}</h4>
    <p>{{ ticket.description|linebreaksbr }}</p>

    {% if ticket.image %}
        <img src="{{ ticket.image.image.url }}" class="img-thumbnail" style="max-width:200px;">
    {% endif %}

    {% if ticket.user == request.user and not review and not read_only %}
        <div class="d-flex justify-content-end mt-2">
            <a href="{% url 'update_ticket' ticket.id %}?next={{ request.path }}" 
            class="btn btn-warning btn-sm me-2">Modifier le ticket</a>
            <a href="{% url 'delete_ticket' ticket.id %}?next={{ request.path }}" 
            class="btn btn-danger btn-sm">Supprimer le ticket</a>
        </div>
    {% endif %}

</div>
