{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <input type="hidden" name="next" value="{{ next }}">
    <h1 class="mb-4 text-danger">Supprimer le ticket</h1>
    <p class="mb-4 fw-bold fs-5">Êtes-vous sûr de vouloir supprimer ce ticket ?</p>

    <!-- Aperçu du ticket -->
    <div class="mb-3">
        {% include "tickets/partials/_ticket_card.html" with ticket=ticket read_only=True %}
    </div>

    <!-- Boutons de confirmation -->
    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="text-end">
            <button type="submit" class="btn btn-danger">Oui, supprimer</button>
            <a href="{{ next|default:'/' }}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock content %}
