{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Modifier le ticket</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% include "tickets/partials/_ticket_form.html" with form=ticket_form %}

        <div class="text-end">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{% url 'view_ticket' ticket.pk %}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
