{% for ticket in tickets %}
    <div class="card mb-4 p-3 shadow-sm">

        {% include "tickets/partials/_ticket_card.html" with ticket=ticket %}

        {% if ticket.review_set.all %}
            {% for review in ticket.review_set.all %}
                <div class="card bg-light p-3 mt-3 border-0 shadow-sm">
                    {% include "reviews/partials/_review_card.html" with review=review hide_ticket=True %}
                </div>
            {% endfor %}
        {% else %}
            <div class="card bg-light p-3 mt-3 border-secondary shadow-sm">
                <p class="text-muted mb-0">Aucune critique pour le moment.</p>
            </div>
        {% endif %}

        {% if not ticket.review_set.exists %}
            <div class="text-end mt-2">
                <a href="{% url 'create_review_response' ticket.id %}?next={{ request.path }}" class="btn btn-success">
                    ➕ Ajouter une critique
                </a>
            </div>
        {% endif %}
    </div>
{% endfor %}
