{% extends 'base.html' %}
{% block content %}
    
    <h2>Ticket</h2>
    <a href="{% url 'ticket_create' %}" class="btn btn-secondary">Créer un ticket</a>
    {% for ticket in tickets %}
        <a href="{% url 'view_ticket' ticket.id %}">
            <h4>Ticket : {{ ticket.title }}</h4>
            <img src="{{ ticket.photo.image.url }}" alt="">
        </a>
    {% endfor %}
    {% for photo in photos %}
        <img src="{{ photo.image.url}}" alt="" srcset="">
    {% endfor %}
{% endblock content %}